 <div *ngIf="(check == 1)" class = 'flex'>
    <div class = 'block'>
        <div class = 'block1'>
            <div class = 'block1Value'>{{saleOracle.real}} ({{saleOracle.oracle}})</div> 
        </div>
        <div class = 'block2'>
            <div *ngIf="(saleOracle.avgCheck != 0)">  
                <div class = 'mini-flex'>          
                    <div class = 'block2Text'>СЧ:</div>
                    <div class = 'block2Value'>{{saleOracle.avgCheck}}</div>
                </div>
            </div>
            <div  *ngIf="(saleOracle.avgCheck == 0)">     
                <div class = 'mini-flex'>                
                    <div class = 'block2TextZero'>СЧ:</div>
                    <div class = 'block2ValueZero'>{{saleOracle.avgCheck}}</div>
                </div>
            </div>
        </div>
        <div class = 'block3'>
            <div class = 'block3Value'>{{saleOracle.recFor7Day}}</div>
        </div>
    </div>
    <div class = 'circle'>
        <div class="svgLastHour">
            <svg width="100%" height="100%" viewBox="0 0 42 42" class="donut">
                <circle class="donut-hole" cx="21" cy="21" r="15.91549430918954" fill="#fff"></circle>
                <circle class="donut-ring" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#d2d3d4" stroke-width="1"></circle>
                <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#fff" stroke-width="1" stroke-dasharray="100 0"></circle>
                <circle class="donut-segment" cx="21" cy="21" r="15.91549430918954" fill="transparent" stroke="#14DE10" stroke-width="1" style.stroke-dasharray="{{saleOracle.percentOnlineStock}},{{percentOnlineStockLast}}" stroke-dashoffset="25"></circle>
                <g class="chart-text">
                    <text x="50%" y="50%" class="chart-number">{{saleOracle.percentOnlineStock}}%</text>
                </g>
            </svg>
        </div>
    </div>
</div>

<div *ngIf="(check == 2)">
    <div class = "flex">
        <table mat-table [dataSource]="saleStatisticModels" class = 'table'>
            <ng-container matColumnDef="dateOfString">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> Дата </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.dateOfString}} </td>
            </ng-container>
            <ng-container matColumnDef="tSumCC_wt">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> Р </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.tSumCC_wt}} </td>
            </ng-container>
            <ng-container matColumnDef="avgCheck">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> СЧ </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.avgCheck}} </td>
            </ng-container>
            <ng-container matColumnDef="rec">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> ОП </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.rec}} </td>
            </ng-container>
            <ng-container matColumnDef="margin">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> М </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.margin}} </td>
            </ng-container>
            <ng-container matColumnDef="turnover">
                <th mat-header-cell *matHeaderCellDef class = "thStatistic"> О </th>
                <td mat-cell *matCellDef="let element" class = "tdStatistic"> {{element.turnover}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsStatistic"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsStatistic"></tr>
        </table>
    </div>
</div>

<div *ngIf="(check == 3)">
    <div class = "flex">
        <table mat-table [dataSource]="saleRegionsModels" class = 'table'>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class = "thRegion"></th>
                <td mat-cell *matCellDef="let element" class = "tdRegion"> {{element.name}} </td>
                <td mat-footer-cell *matFooterCellDef class = "tdRegionFooter"> {{lastLines.name}} </td>
            </ng-container>
            <ng-container matColumnDef="population">
                <th mat-header-cell *matHeaderCellDef class = "thRegion">Pop</th>
                <td mat-cell *matCellDef="let element" class = "tdRegion"> {{element.population}} </td>
                <td mat-footer-cell *matFooterCellDef class = "tdRegionFooter"> {{lastLines.population}} </td>
            </ng-container>
            <ng-container matColumnDef="numberTT">
                <th mat-header-cell *matHeaderCellDef class = "thRegion">NoS</th>
                <td mat-cell *matCellDef="let element" class = "tdRegion"> {{element.numberTT}} </td>
                <td mat-footer-cell *matFooterCellDef class = "tdRegionFooter"> {{lastLines.numberTT}} </td>
            </ng-container>
            <ng-container matColumnDef="populationForOneTT">
                <th mat-header-cell *matHeaderCellDef class = "thRegion">PpS</th>            
                <td mat-cell *matCellDef="let element" class = "tdRegion">{{element.populationForOneTT}}</td>
                <td mat-footer-cell *matFooterCellDef class = "tdRegionFooter"> {{lastLines.populationForOneTT}}  </td>
            </ng-container>
            <ng-container matColumnDef="salesForOnePeople">
                <th mat-header-cell *matHeaderCellDef class = "thRegion">Sa/P-30</th>
                <td mat-cell *matCellDef="let element">
                    <span *ngIf="(element.percentSalesForOnePeople == 0)" class = "tdRegionSalesForOnePeople0"> 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 0 && element.percentSalesForOnePeople <= 10)" class = "tdRegionSalesForOnePeople10"> 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 10 && element.percentSalesForOnePeople <= 20)" class = "tdRegionSalesForOnePeople20" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 20 && element.percentSalesForOnePeople <= 30)" class = "tdRegionSalesForOnePeople30" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 30 && element.percentSalesForOnePeople <= 40)" class = "tdRegionSalesForOnePeople40" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 40 && element.percentSalesForOnePeople <= 50)" class = "tdRegionSalesForOnePeople50" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 50 && element.percentSalesForOnePeople <= 60)" class = "tdRegionSalesForOnePeople60" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 60 && element.percentSalesForOnePeople <= 70)" class = "tdRegionSalesForOnePeople70" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 70 && element.percentSalesForOnePeople <= 80)" class = "tdRegionSalesForOnePeople80" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 80 && element.percentSalesForOnePeople <= 90)" class = "tdRegionSalesForOnePeople90" > 
                        {{element.salesForOnePeople}} 
                    </span>  
                    <span *ngIf="(element.percentSalesForOnePeople > 90 && element.percentSalesForOnePeople <= 100)" class = "tdRegionSalesForOnePeople100" > 
                        {{element.salesForOnePeople}} 
                    </span> 
                </td>
                <td mat-footer-cell *matFooterCellDef class = "tdRegionFooter">{{lastLines.salesForOnePeople}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsRegions"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsRegions"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumnsRegions"></tr>
        </table>   
    </div>
</div>

<div *ngIf="(check == 4)" class = "history">

    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="diagramModels"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    (select)="onSelect($event)" class = 'charts-bar'>
    </ngx-charts-bar-vertical>

    <div class="table-container">
        <table mat-table [dataSource]="saleHistoryModels" class = 'table'>
            <ng-container matColumnDef="dates">
                <th mat-header-cell *matHeaderCellDef class = "thHistory"  > Дата </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.dateString}} </td>
            </ng-container>
            <ng-container matColumnDef="stocksQty">
                <th mat-header-cell *matHeaderCellDef class = "thHistory"> К-во ТТ </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.stocksQty}} </td>
            </ng-container>
            <ng-container matColumnDef="chainPlanDay">
                <th mat-header-cell *matHeaderCellDef class = "thHistory"> План выручки </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.chainPlanDayString}} </td>
            </ng-container>
            <ng-container matColumnDef="chainFactDay">
                <th mat-header-cell *matHeaderCellDef class = "thHistory" > Факт выручки </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.chainFactDayString}} </td>
            </ng-container>
            <ng-container matColumnDef="executionPlanDayPercent">
                <th mat-header-cell *matHeaderCellDef class = "thHistory"> Выполнение, % </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.executionPlanDayPercent}} %</td>
            </ng-container>
            <ng-container matColumnDef="executionPlanDayUah">
                <th mat-header-cell *matHeaderCellDef class = "thHistory"> Выполнение, грн </th>
                <td mat-cell *matCellDef="let element" class = "tdHistory"> {{element.executionPlanDayUahString}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory; sticky: true"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsHistory"></tr>
        </table>
    </div>
</div>

<div class="flex-footer">
    <div class = "dateTime">{{dateTime}}</div>
    <div *ngIf="(check == 3)">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <a (click) = "getExcel()">Завантажити Excel</a>
        </button>
        </mat-menu>
    </div>
</div>
