.flex{
    position: relative;
    margin-top: 1%;
    margin-left: 1%;
    display: flex;
    height: 99%;
    width: 100%;
    background-color: #fff;
}

.block{
    position: relative;
    margin-top:0.5%;
    margin-left:20px;
    display: block;
    height: 100%;
    width: 50%;
}

.circle{
    position: relative;
    display: block;
    width: 50%;
}

.mini-flex{
    display: flex;
    height: 100%;
    width: 100%;
}

.block1,.block2,.block3{
    position: relative;
    margin-top: 10px;
    border-radius: 10px;
    height: 31%;
}

.block1{
    background-color: rgb(18, 156, 18);
}

.block2{
    width: 100%;
}

.block2, .block3 {
    background-color: rgba(211, 211, 211, 0.61);
}

.block1Value{
    position: relative;
    top: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 130px;
    color: white;
}

.block2Text{
    position: relative;
    margin-top: 7%;
    text-align: right;
    font-size: 130px;
    width: 40%;
}

.block2Value{
    position: relative;
    margin-top: 7%;
    text-align: left;
    font-weight: bold;
    font-size: 130px;
    width: 60%;
}

.block2TextZero{
    position: relative;
    margin-top: 7%;
    text-align: right;
    font-size: 130px;
    width: 60%;
}

.block2ValueZero{
    position: relative;
    margin-top: 7%;
    text-align: left;
    font-weight: bold;
    font-size: 130px;
    width: 40%;
}

.block3Value{
    position: relative;
    top: 20%;
    text-align: center;
    font-weight: bold;
    font-size: 130px;
}

.chart-text {
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
}

.table{
    position: relative;
    margin-left: 20px;
    width: 98%;
}

.table tr:nth-child(odd){
    background:#eaecec;
}

.table tr:hover{
    background:rgb(212, 212, 212); 
    color:#fff; 
    text-shadow:1px 1px 1px rgb(114, 113, 153);
}

th.mat-header-cell:last-of-type{
    padding-right: 0px;
}

th.mat-header-cell{ 
    color: black;
    background-color:#fff;
    padding: 0px 0px 0px 0px !important;
    text-align: center;
    font-weight: bold;
}

.table td{
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
}

.thStatistic{
    font-size: 45px;
}

.tdStatistic{
    border:2px; 
    text-align: center;
    font-size: 45px;
}

tr.mat-footer-row, tr.mat-row{
    height: 5px;
}

.thRegion{
    font-size: 25px;
}

.tdRegion{
    border:2px; 
    align-items: stretch;
    text-align: center;
    font-size: 25px;
    height: 5px;
}

.tdRegionFooter{
    border:2px; 
    text-align: center;
    font-size: 26px;
    height: 5px;
    background-color: white;
}

.bold{
    border:2px; 
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.dateTime{
    position: relative;
    margin-left: 1%;
}